
html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    font-size: 1.6em;
    max-width: 120rem;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
}